---
layout: base
title: "Archive"
---

<section id="posts">
  <h1>Archive</h1>

  <ul>
  {% if site.posts == empty %}
    <p>There aren't posts yet :(</p>
  {% else %}
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>

      <span class="metadata">
        on
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time>
      </span>
    </li>
    {% endfor %}
  {% endif %}
  </ul>
</section>
