body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 19px;
  color: #424242;
}

h1 {
  font-size: 46px;
  font-weight: bolder;
  line-height: 52px;
  color: #6E873B;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  color: #333;
}

p {
  margin-bottom: 15px;
  line-height: 23px;
}

blockquote {
  margin: 30px 15px;
}

blockquote p {
  font-size: 27px;
  font-style: italic;
}

blockquote a {
  font-size: 19px;
}

a {
  color: #6E873B;
}

a:hover {
  color: #83AA37;
}

article h2 {
  margin-top: 35px;
  margin-bottom: 15px;
  color: #83AA37;
}

.metadata {
  color: #555;
}

.metadata a, .metadata time {
  font-style: italic;
}

.metadata time {
  color: #424242;
}

.metadata a {
  text-decoration: none;
}

.gist {
  margin: 25px 10px;
}

/* Main header */
#main-header {
  margin-top: 25px;
  margin-bottom: 35px;
}

#main-header h1 {
  margin-bottom: 15px;
  font-size: 65px;
}

#main-header h1 a {
  color: #424242;
}

#main-header h4 {
  margin-left: 5px;
}

#main-header nav {
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 24px;
}

#main-header nav li {
  display: inline;
  margin-right: 7px;
}

#main-header nav a {
  color: #424242;
  text-decoration: none;
}

#main-header nav a:hover {
  color: #000;
  text-decoration: underline;
}

/* Posts and talks archive */
#talks ul, #posts ul {
  list-style: none;
  margin-top: 25px;
}

#talks li, #posts li {
  margin-bottom: 7px;
}

/* Post */
#post header {
  margin-bottom: 25px;
}

#post header time {
  color: #333;
}

#post h1 a {
  color: #6E873B;
  text-decoration: underline;
}

#post h1 a:hover {
  color: #58653E;
}

#post #disqus_thread {
  margin-top: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
