<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Jaime Gil de Sagredo</title>
  </head>

  <body>
    <section id="main-header">
      <header>
        <h1>
          <a href="/" title="Home">Jaime Gil de Sagredo</a>
        </h1>
        <h6>Python, JavaScript, Testing, ...</h6>
      </header>

      <nav id="main-nav">
        <ul>
          <li>
            <a href="/" title="Archive">Archive</a>
          </li>
        </ul>
      </nav>
    </section>

    {{ content }}
  </body>
</html>
