<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title != '' %}{{ page.title }} - {% endif %}Jaime Gil de Sagredo Luna</title>

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name="author" content="Jaime Gil de Sagredo Luna" />
    <meta name="description" content="I am passionate about building high-quality software products that deliver value to users." />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://feeds.feedburner.com/jaimegildesagredo" rel="alternate" type="application/rss+xml">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml">

    <link rel="stylesheet" href="/assets/css/1140.css" type="text/css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30313230-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="ninecol">
          <header id="main-header">
            <a href="/" title="Jaime Gil de Sagredo Luna's personal web page">
              <img alt="Jaime Gil de Sagredo Luna profile's photo" src="https://avatars.githubusercontent.com/u/825580?v=4" width="260" height="260">
              <h1>Jaime Gil de Sagredo Luna</h1>
            </a>
          </header>
          <div class="row">
            {{ content }}
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
